{% include "/partials/header.html.jinja" %}
  <h1 class="ui header" id="customize_header">{{ticker}} forecast - Long Short Term Memory</h1>

  <p class="homepage_form_text">
    Enter a future date that you want to predict the stock price on
  </p>

  <div class="ui divider"></div>

  <form action="/lstm/predict" method="POST" id="customize_form">
    <div class="ui list">
      <div class="item">
        <label class="homepage_form_text">Enter the year</label>
        <div class="ui input mini" id="ticker_input">
          <input type="number" placeholder="Ex. 2021" name="year"/>
        </div>
      </div>
      <div class="item">
        <label class="homepage_form_text">Enter the month</label>
        <div class="ui input mini" id="ticker_input">
          <input type="number" placeholder="Ex. 07" name="month"/>
        </div>
      </div>
      <div class="item">
        <label class="homepage_form_text">Enter the day</label>
        <div class="ui input mini" id="ticker_input">
          <input type="number" placeholder="Ex. 07" name="day"/>
        </div>
      </div>
    <input type="hidden" name="ticker" value="{{ticker}}" />
    <input type="hidden" name="split" value="{{split}}" />
    <input type="hidden" name="units" value="{{units}}" />
    <input type="hidden" name="epochs" value="{{epochs}}" />
    <button type="submit" class="ui positive basic button" id="customize_submit">Submit</button>
  </form>

  
  <div class="ui raised very padded segment" id="model_plot">
      <div class="chart" id="plot_lstm">
        <script>
          var graphs = {{lstm_plot | safe}};

          Plotly.plot("plot_lstm", graphs, {});
        </script>
      </div>
  </div>
{% include "/partials/footer.html.jinja" %}