{% include "/partials/header.html.jinja" %}
    <h1 class="ui header" id="customize_header">Customize Long Short Term Memory model for {{ticker}}</h1>

    <p class="homepage_form_text">
      Customize your {{ticker}} LSTM model by changing the
    </p> 
    <div class="ui bulleted list">
      <div class="item homepage_form_text">number of data points in the training and validation set (train-test split ratio)</div>
      <div class="item homepage_form_text">number of units in each lalyer of the network</div>
      <div class="item homepage_form_text">number of epochs</div>
    </div>

    <div class="ui divider"></div>

    <form action="/lstm/customize" method="POST" id="customize_form">
      <div class="ui list">
        <div class="item">
          <label class="homepage_form_text">Enter the number of data points you want in your training set</label>
          <div class="ui input mini" id="ticker_input">
            <input type="number" placeholder="Ex. 777" name="split"/>
          </div>
        </div>
        <div class="item">
          <label class="homepage_form_text">Enter the number of units in each layer of the network</label>
          <div class="ui input mini" id="ticker_input">
            <input type="number" placeholder="Ex. 5" name="units"/>
          </div>
        </div>
        <div class="item">
          <label class="homepage_form_text">Enter the number of epochs</label>
          <div class="ui input mini" id="ticker_input">
            <input type="number" placeholder="Ex. 1" name="epochs"/>
          </div>
        </div>
      <input type="hidden" name="ticker" value="{{ticker}}" />
      <button type="submit" class="ui positive basic button" id="customize_submit">Submit</button>
    </form>

    <div class="ui raised very padded segment" id="model_plot">
      <div class="chart" id="plot_lstm">
        <script>
          var graphs = {{lstm_plot | safe}};

          Plotly.plot("plot_lstm", graphs, {});
        </script>
      </div>
    </div>


    <p class="homepage_form_text">Current error (RMSE) - {{rmse}}</p>
    <p class="homepage_form_text">Current training data points - {{split}} / 1259</p>
    <p class="homepage_form_text">Current number of units - {{units}}</p>
    <p class="homepage_form_text">Current number of epochs - {{epochs}}</p>
      
    <a href="/{{ticker}}/lstm/predict/{{split}}/{{units}}/{{epochs}}" class="ui negative basic button" id="predict_button">
        Make a prediction with this model
    </a>
{% include "/partials/footer.html.jinja" %}