{% include "/partials/header.html.jinja" %}
    <h1>{{ticker}} Stock Price Prediction - Long Short Term Memory</h1>

    <p>Enter a future date that you want the prediction on</p>

    <form action="/lstm/predict" method="POST">
      <label>
        Enter the year -
      </label>
      <input type="number" name="year" placeholder="2020" />
      <label>
        Enter the month -
      </label>
      <input type="number" name="month" placeholder="12" />
      <label>
        Enter the date -
      </label>
      <input type="number" name="day" placeholder="31" />
      <input type="hidden" name="ticker" value="{{ticker}}" />
      <input type="hidden" name="split" value="{{split}}" />
      <input type="hidden" name="units" value="{{units}}" />
      <input type="hidden" name="epochs" value="{{epochs}}" />
      <input type="submit" />
    </form>

    <div class="chart" id="plot_lstm">
      <script>
        var graphs = {{lstm_plot | safe}};

        Plotly.plot("plot_lstm", graphs, {});
      </script>
    </div>
{% include "/partials/footer.html.jinja" %}
