{% include "/partials/header.html.jinja" %}
    <h1>Customize Moving Average Model for {{ticker}}</h1>

    <p>
      Customize your {{ticker}} moving average model by changing the
    </p> 
    <div>  
      <p>• window of days considered for the moving average</p>
      <p>• number of data points in the training and testing set (train : test split ratio)</p>
    </div>

    <form action="/ma/customize" method="POST">
      <p>
        <label>Enter the number of days you want in your moving average window</label>
        <input type="number" placeholder="Ex. 277" name="window" />
      </p>
      <p>
        <label>Enter the number of data points you want in your training set</label>
        <input type="number" placeholder= "Ex. 777" name="split">
      </p>
      <input type="hidden" name="ticker" value="{{ticker}}" />
      <input type="submit" />
    </form>

    <div class="chart" id="plot_ma">
      <script>
        var graphs = {{moving_average_plot | safe}};

        Plotly.plot("plot_ma", graphs, {});
      </script>
    </div>

    <p>Current error (RMSE) - {{rmse}}</p>
    <p>Current moving average window - {{window}} days</p>
    <p>Current training data points - {{split}}/1260 days</p>

    <a href="/{{ticker}}/ma/predict/{{window}}/{{split}}">Make a prediction with this model</a>
{% include "/partials/footer.html.jinja" %}
