/* Home */

#index_header {
  margin-top: 1rem;
  font-size: 4rem;
}

#intro_text {
  font-size: 2rem;
}

#homepage_prompt {
  font-size: 1.5rem;
}

.homepage_form_text {
  font-size: 1.25rem;
}

#stock_details {
  margin-top: 2rem;
  opacity: 0;
}

#stock_details:hover {
  opacity: 1;
  transition: opacity 1s linear;
}

#ticker_input {
  margin-left: 0.5rem;
}

/* Models */

#model_plot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#customize_model {
  text-align: center;
}

/* Customization */
#customize_header {
  margin-top: 1rem;
}

#customize_form {
  margin-top: 1.5rem;
}

#customize_submit {
  margin-top: 1rem;
}

#predict_button {
  margin-bottom: 2rem;
}