{% include "partials/header.html.jinja" %}
  <h1>Stockastic</h1>

  <p>
    Visualize, model, and predict machine learning models for S&P500 stocks
    without writing a single line of code!
  </p>

  <form action="{{url_for('ticker')}}" method="POST">
    <input
      type="text"
      placeholder="Enter stock ticker symbol here"
      name="ticker"
    />
    <p>
      Select which models you want to generate (note that the LSTM and
      Auto-ARIMA models take ~3 minutes to generate)
    </p>
    <input type="checkbox" name="ma" value="ma" />Moving Averages<br />
    <input type="checkbox" name="lr" value="lr" />Linear Regression<br />
    <input type="checkbox" name="knn" value="knn" />K-Nearest Neighbors<br />
    <input type="checkbox" name="lstm" value="lstm" />Long Short Term
    Memory<br />
    <input type="checkbox" name="arima" value="arima" />Autoregressive
    Integrated Moving Averages<br />
    <input type="submit" />
  </form>
{% include "partials/footer.html.jinja" %}
