<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linear Regression Predictions</title>
  </head>
  <body>
    <h1>{{ticker}} Stock Price Prediction - Linear Regression</h1>

    <p>Enter a future date that you want the prediction on</p>

    <form action="" method="POST">
      <label>
        Enter the year -
      </label>
      <input type="number" name="year" placeholder="2020" />
      <label>
        Enter the month -
      </label>
      <input type="number" name="month" placeholder="12" />
      <label>
        Enter the date -
      </label>
      <input type="number" name="date" placeholder="31" />
    </form>
  </body>
</html>
