<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockastic</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body>
    <h1>{{ticker}} Stock Models</h1>

    <h3>5 Year Performance</h3>

    <div class="chart" id="plot_historic">
      <script>
        var graphs = {{historic_plot | safe}};

        Plotly.plot("plot_historic", graphs, {});
      </script>
    </div>

    <h3>Moving Average</h3>
    
    <div class="chart" id="plot_ma">
      <script>
        var graphs = {{moving_average_plot | safe}};

        Plotly.plot("plot_ma", graphs, {});
      </script>
    </div>

    <a href="/{{ticker}}/ma/customize/225/977">Build your own Moving Average model</a>

    <h3>Linear Regression</h3>
    
    <div class="chart" id="plot_linear">
      <script>
        var graphs = {{linear_regression_plot | safe}};

        Plotly.plot("plot_linear", graphs, {});
      </script>
    </div>

    <a href="/{{ticker}}/lr/customize">Build your own Linear Regression model</a>

    <h3>k-Nearest Neighbors</h3>
    
    <div class="chart" id="scatter3">
      <script>
        var graphs = {{plot4 | safe}};

        Plotly.plot("scatter3", graphs, {});
      </script>
    </div>

    <h3>LSTM</h3>
    
    <div class="chart" id="scatter5">
      <script>
        var graphs = {{plot6 | safe}};

        Plotly.plot("scatter5", graphs, {});
      </script>
    </div>
  </body>
</html>
