<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockastic</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body>
    <h1>{{ticker}} Stock Models</h1>

    <h3>5 Year Performance</h3>

    <div class="chart" id="candlestick">
      <script>
        var graphs = {{plot | safe}};

        Plotly.plot("candlestick", graphs, {});
      </script>
    </div>

    <h3>Moving Average</h3>
    
    <div class="chart" id="scatter">
      <script>
        var graphs = {{plot2 | safe}};

        Plotly.plot("scatter", graphs, {});
      </script>
    </div>
  </body>
</html>
