{% include "partials/header.html.jinja" %}
  <h1 class="ui center aligned header" id="index_header">
    {{ticker}} Stock Models
  </h1>

  <div class="ui raised very padded segment model_plot">
    <h2>5 Year Performance</h2>

    <div class="chart" id="plot_historic">
      <script>
        var graphs = {{historic_plot | safe}};

        Plotly.plot("plot_historic", graphs, {});
      </script>
    </div>
  </div>

  {% if show_plot["ma"] %}
    <div class="ui raised very padded segment model_plot">
      <h2>Moving Average</h2>
    
      <div class="chart" id="plot_ma">
        <script>
          var graphs = {{moving_average_plot | safe}};

          Plotly.plot("plot_ma", graphs, {});
        </script>
      </div>

      <a href="/{{ticker}}/ma/customize/225/977">
        <button class="ui primary basic button">Build your own Moving Average model</button>
      </a>
    </div>
  {% endif %}

  {% if show_plot["lr"] %}
    <div class="ui raised very padded segment model_plot">
      <h2>Linear Regression</h2>
    
      <div class="chart" id="plot_lr">
        <script>
          var graphs = {{linear_regression_plot | safe}};

          Plotly.plot("plot_lr", graphs, {});
        </script>
      </div>

      <a href="/{{ticker}}/lr/customize/977">
        <button class="ui primary basic button">Build your own Linear Regression model</button>
      </a>
    </div>
  {% endif %}

  {% if show_plot["knn"] %}
    <div class="ui raised very padded segment model_plot">
      <h2>K-Nearest Neighbors</h2>
    
      <div class="chart" id="plot_knn">
        <script>
          var graphs = {{knn_plot | safe}};

          Plotly.plot("plot_knn", graphs, {});
        </script>
      </div>

      <a href="/{{ticker}}/knn/customize/977/5/uniform/2">
        <button class="ui primary basic button">Build your own Moving Average model</button>
      </a>
    </div>
  {% endif %}
    
  {% if show_plot["lstm"] %}
    <div class="ui raised very padded segment model_plot">
      <h2>LSTM</h2>
    
      <div class="chart" id="plot_lstm">
        <script>
          var graphs = {{lstm_plot | safe}};

          Plotly.plot("plot_lstm", graphs, {});
        </script>
      </div>

      <a href="/{{ticker}}/lstm/customize/977/50/1">
        <button class="ui primary basic button">Build your own Moving Average model</button>
      </a>
    </div>
  {% endif %}

  {% if show_plot["arima"] %}
    <div class="ui raised very padded segment model_plot">
      <h2>Auto-ARIMA</h2>
        <div class="chart" id="plot_auto_arima">
        <script>
          var graphs = {{auto_arima_plot | safe}};

          Plotly.plot("plot_auto_arima", graphs, {});
        </script>
      </div>

      <a href="/{{ticker}}/arima/customize/977/1/3/1/3/1/1">
        <button class="ui primary basic button">Build your own Moving Average model</button>
      </a>
    </div>
  {% endif %}
{% include "partials/footer.html.jinja" %}
